<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Learning from  <MudIcon Class="ml-1 mt-1" Icon="@Icons.Material.Filled.ArrowForward" />
        <strong><a target="_blank" class="font-weight-bold link-dark" href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">here</a></strong>
    </span>
</div>

@code {
   
    [Parameter]
    public string? Title { get; set; }
}
