@page "/fetchdata"
@using jacket.Data
@inject WeatherForecastService ForecastService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>


@*@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}*@

@if (forecasts == null)
{
    <p><em>Loading...</em></p>

}
else
{
    <MudDataGrid Items="forecasts">
        <Columns>
            <PropertyColumn Property="x => x.Date" />
            <PropertyColumn Property="x => x.TemperatureC" />
            <PropertyColumn Property="x => x.TemperatureF" />
            <PropertyColumn Property="x => x.Summary" />
        </Columns>
    </MudDataGrid>
}


@code {

    private WeatherForecast[]? forecasts;
    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}
